:root {
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: 1.5rem;
  --toastContainerLeft: 2rem;
}

body {
  height: 100vh;
  color: var(--fds-text-primary);
}

._toastItem {
  overflow: visible !important;
}

@font-face {
  font-family: 'Exo Regular';
  src: url('./assets/Exo-Regular.ttf');
}

.exo {
  font-family: 'Exo Regular' !important;
}
